/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Properties */
:root{
    --bg-sidebar: #000000;
    --bg-header: #080b12;
    --bg-main: #141922;
    --bg-footer: #282828;
    --text-primary: #ffffff;
    --text-secondary: #a3a3a3;
    --standard-size: 1rem;
}

html{
    font-size: 12px;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
}

section{
    padding: var(--standard-size);
}

img{
    display: block;
    width: 100%;
}

li{
    list-style: none;
    padding: .5rem;
}

a{
    color: var(--text-secondary);
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
}
/* Proprietà flex */
.flex{
    display: flex;
}

.grow{
    flex-grow: 1;
}

.shrink{
    flex-shrink: 0;
}

.wrap{
    flex-wrap: wrap;
}

.justify{
    justify-content: center;
}

.align{
    align-items: center;
}

.sp-between{
    justify-content: space-between;
}

/* Container principali */
.top-container{
    overflow: auto;
}

.bottom-container{
    background-color: var(--bg-footer);
    padding: var(--standard-size);
}

.sidebar-container{
    width: 80px;
    background-color: var(--bg-sidebar);
    padding: var(--standard-size);
    flex-direction: column;
    text-align: center;
}

.main-container{
    overflow: auto;
}

/* Formattazione testo */
.section-title{
    padding-bottom: 2rem;
}

h4, h5{
    padding-top: .5rem;
}

h5{
    color: var(--text-secondary);
}

/* Proprietà specifiche sezione principale */
.header{
    background-color: var(--bg-header);
    padding: var(--standard-size);
    /* position fixed? */
}

.main-section{
    background-color: var(--bg-main);
}

.header button,
.menu{
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
}

.header button{
    display: block;
    margin-left: auto;
    border: 1px solid var(--text-primary);
    padding: var(--standard-size) 3rem;
    border-radius: 25px;
}

.menu{
    padding: var(--standard-size);
}

.row{
    margin: 0 -.5rem;
    text-align: center;
}

.col-1_2{
    flex-basis: calc(100% / 2);
}

.card-container{
    padding: 0.5rem;
}

/* Proprietà sidebar */
.sidebar-container img{
    width: 30px;
    display: inline;
    vertical-align: middle;
}

.sidebar-container li{
    margin-left: -.5rem;
}

.sidebar-container span,
.logo-container-big,
.playlist{
    display: none;
}

.sidebar-middle{
    overflow: auto;
}

.profile-name{
    border-top: 1px solid var(--text-secondary);
}

/* Proprietà footer */
.player-left .link-list{
    flex-direction: column;
}

.player-middle{
    flex-direction: column;
}

.player-right i{
    color: var(--text-primary);
}

.album-img{
    width: 7vh;
    aspect-ratio: 1;
}

.album-text{
    flex-direction: column;
    padding-left: .5rem;
}

.album-text .song{
    color: var(--text-secondary);
    font-size: .8rem;
}
