/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Properties */
:root{
    --bg-sidebar: #000000;
    --bg-header: #080b12;
    --bg-main: #141922;
    --bg-footer: #282828;
    --text-primary: #ffffff;
    --text-secondary: #a3a3a3;
    --standard-size: 1rem;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
}

section{
    padding: var(--standard-size);
}

img{
    display: block;
    width: 100%;
}

li{
    list-style: none;
}

a{
    color: var(--text-secondary);
}

a{
    text-decoration: none;
}

/* Proprietà flex */
.flex{
    display: flex;
}

.grow{
    flex-grow: 1;
}

.shrink{
    flex-shrink: 0;
}

.wrap{
    flex-wrap: wrap;
}

.justify{
    justify-content: center;
}

.align{
    align-items: center;
}

.sp-between{
    justify-content: space-between;
}

/* Container principali */
.top-container{
    overflow: auto;
}

.bottom-container{
    background-color: var(--bg-footer);
    padding: var(--standard-size);
}

.sidebar-container{
    width: 80px;
    background-color: var(--bg-sidebar);
}

.main-container{
    overflow: auto;
}

/* Proprietà specifiche sezione principale */
.header{
    background-color: var(--bg-header);
    padding: 2rem var(--standard-size);
    /* position fixed? */
}

.header button{
    display: block;
    margin-left: auto;
}

.main-section{
    background-color: var(--bg-main);
}

.menu{
    padding: var(--standard-size);
}

.row{
    margin: 0 -.5rem;
    text-align: center;
}

.col-1_2{
    flex-basis: calc(100% / 2);
}

.card-container{
    padding: 0.5rem;
}

/* Proprietà sidebar */
.sidebar-container{
    padding: var(--standard-size);
    flex-direction: column;
    text-align: center;
}

.sidebar-container img{
    width: 30px;
    display: inline;
    vertical-align: middle;
}

.sidebar-middle{
    overflow: auto;
}

.logo-container-big{
    display: none;
}

.sidebar-container span{
    display: none;
}

.playlist{
    display: none;
}

.profile-name{
    border-top: 1px solid var(--text-secondary);
}

/* Proprietà footer */
.player-left .link-list{
    flex-direction: column;
}

.player-middle{
    flex-direction: column;
}

.album-img{
    width: 12vh;
    border: 1px dashed snow;
    padding: .5rem;
    aspect-ratio: 1;
}

.album-text{
    flex-direction: column;
}