/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Properties */
:root{
    --bg-sidebar: #000000;
    --bg-header: #080b12;
    --bg-main: #141922;
    --bg-footer: #282828;
    --text-primary: #ffffff;
    --text-secondary: #a3a3a3;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
}

section{
    padding: 1rem;
}

img{
    display: block;
    width: 100%;
}

/* Proprietà flex */
.flex{
    display: flex;
}

.grow{
    flex-grow: 1;
}

.shrink{
    flex-shrink: 0;
}

.wrap{
    flex-wrap: wrap;
}

/* Container principali */
.bottom-container{
    height: 80px;
    background-color: var(--bg-footer);
}

.sidebar-container{
    width: 80px;
    background-color: var(--bg-sidebar);
}

.main.container{
    overflow: auto;
}

/* Proprietà specifiche sezione principale */
.header{
    background-color: var(--bg-header);
    padding: 2rem;
    /* position fixed? */
}

.main-section{
    background-color: var(--bg-main);
}

.menu{
    background-color: beige;
    padding: 1rem;
}

.row{
    margin: 0 -.5rem;
}

.col-1_2{
    flex-basis: calc(100% / 2);
}

.card-container{
    padding: 0.5rem;
}

/* .card{
} */

/* Proprietà sidebar */
.sidebar-container{
    padding: .5rem;
}

.logo-container-small{
    width: 50px;
    margin: auto;
}

.logo-container-big{
    display: none;
}