/* Mobile - schermo piccolo - SM */
@media screen and (min-width: 568px){
    .sidebar-container{
        width: 250px;
    }

    .sidebar-container span{
        display: inline-block;
        vertical-align: middle;
    }

    .logo-container-small{
        display: none;
    }
    
    .logo-container-big{
        width: 70%;
        display: block;
    }   

    .playlist{
        display: block;
    }
}

/* Tablet - schermo medio - MD */
@media screen and (min-width: 768px){
    .col-1_4{
        flex-basis: calc(100% / 4);
    }
}

/* Desktop - schermo grande - LG */
@media screen and (min-width: 992px){
    .col-1_6{
        flex-basis: calc(100% / 6);
    }
}